[submodule "tools/cocos2d-console"]
        path = tools/cocos2d-console
        url = git@github.com:junwchina/cocos2d-console.git
[submodule "tools/bindings-generator"]
        path = tools/bindings-generator
        url = git://github.com/cocos2d/bindings-generator.git
[submodule "tests/cpp-tests/Resources/ccs-res"]
        path = tests/cpp-tests/Resources/ccs-res
        url = git://github.com/dumganhar/ccs-res.git
[submodule "external"]
	path = external
	url = git://github.com/cocos2d/cocos2d-x-3rd-party-libs-bin.git
	branch = v3
[submodule "plugin"]
	path = plugin
	url = git@git.yyjun.info:plugin-x.git
